@{
    Layout = null;
    var FechaActual = DateTime.Now;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Hola @Request.Params["nombre"], este es el curso de .NET, hoy es @FechaActual
        <br />
        @ViewBag.nombre
    </div>
</body>
</html>
